
.container-calc {
    color: #183152;
    font-size: 18px;
    background-color: #DDE0EE;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 20px;
}

.calculator-calc {
    font-family: Montserrat;
}

label {
    font-family: Poppins;
    flex: 2;

}

.narrow-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #ff6600;
    color: white;

}

.narrow-btn:hover,
.narrow-btn:focus {
    background-color: #ff8533;
}

.narrow-btn:active {
    background-color: #ff8533;
}